@import "definitions";

@mixin vert-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-list {

  thead {
    @include vert-flex-center();
    border: none;

    tr {
      border: none;

      th.category {
        font-family: Rubik, 'Sans-serif';
        border: none;
        font-size: 25px;
        color: $primary;
      }
  
      th.topics {
        display: none;
      }

    }
  }

  tbody {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: none;
    
    tr {
      width: 15%;
      @include vert-flex-center();
      border-radius: 8px;
      background-color: $primary-low;
      margin: 0 5px 5px 0;

      td.category {
        border: none;
      }

      td.topics {
        @include vert-flex-center();
      }

      .category-description {
        display: none;
      }
    }
  }
}