@import "common/foundation/variables";

$ctrx-orange: #ff8a00;
$ctrx-pink: #e52e71;
$ctrx-bg: #201c29;

@mixin ctrx-gradient($direction: to top, $from: $ctrx-orange, $to: $ctrx-pink, $val: .5) {
  background-image: linear-gradient($direction, rgba($from,$val), rgba($to,$val))
}

#main {
  padding-top: 120px;
}

#main-outlet {
  width: 100%;
  padding: 0;
  margin: 0px;
  border-radius: 0;
  box-shadow: none;

  .list-controls {
    padding: 0 10px 0 10px;
  }
}

header.d-header, d.header {
  box-shadow: none;
}

#reply-control {
  border-radius: 0px;
}

.topic-list th, .topic-list td {
  padding: 7px 5px;
}

body {
  background-color: $secondary;
}

.search-container {
  padding: 10px;
}

// hamburger slideout
.menu-panel.slide-in {
  top: 120px !important; // overwrite insline style
}

// background opacity on slideout
.header-cloak {
  top: 120px !important;
  background-color: rgba($primary,.95);
  @include ctrx-gradient;
}

a.icon {
  .header-dropdown-toggle.active & {
    border-radius: 4px;
  }
}

// Topic Title spacing
#topic-title {
  padding: 15px 10px;
}

// Stops the removal of icons in header once scrolled up
.d-header .extra-info-wrapper + .panel .header-buttons, .d-header .extra-info-wrapper + .panel .d-header-icons {
  display: inline !important;
}
.d-header .panel {
  animation: none;
}
.extra-info-wrapper {
  display: none;
}

// Spacing to containers of all sorts
.container.viewing-self,
.container.read-guidlines,
.container.show-badge,
.container.badges,
.footer-message,
.container.cakeday,
.tag-list, #topic-footer-buttons {
  padding: 15px 10px;
}

.body-page .nav-pills, .cakeday .nav-pills {
  padding: 15px 10px;
  li a {
    &.active {
      background-color: white;
      @include ctrx-gradient(to left);
      color: $primary;
    }
  }
}

.user-info-empty-message {
  padding: 30px 0;
}

.about {
  padding: 0 10px;
}

// FAQ + About Page padding
div[itemprop="mainContentOfPage"] {
  padding: 0 10px;
}

// highlighted user
.user.me {
  background-color: white;
  @include ctrx-gradient(to bottom right, $ctrx-orange, $ctrx-pink, .15);
  div.user-stat span {
    color: $primary-high !important;
  }
}

.groups-header {
  padding: 10px 0 0 10px;
}

.category-list-item {
  margin-bottom: 0;
  border-top: none !important;
  border-bottom: 1px solid $primary-high !important;
}

// padding inside of topic
.topic-post .row {
  padding: 0 10px;

  nav.post-controls .actions {
    align-items: center;
    svg.d-icon {
      color: $primary-medium !important;
    }
  }

  .regular.contents {
    padding: 10px 5px;
  }
}

.small-action-desc.timegap {
  padding: 10px;
}

// progress widget
#topic-progress-wrapper:not(.docked) {
  margin: 0 0 5vw 0;
  right: 5vw !important;
  #topic-progress {
    margin: 2px 0 0 0;
    width: 125px;
    height: 30px;
    color: rgba($primary,.5);
    border: 1px solid rgba($love,.15);
    .nums {
      top: 6px;
    }
    .bg {
      background-color: white;
      @include ctrx-gradient(to right, $quaternary,$love , .2);
      border-right: 1px solid rgba($love,.15);
    }
  }
}

#topic-progress-wrapper.docked {
  right: 5vw !important;
  #topic-progress {
    width: 125px;
    height: 30px;
    color: rgba($primary,.5);
    border: 1px solid rgba($love,.15);
    .nums {
      top: 6px;
    }
    .bg {
      background-color: white;
      @include ctrx-gradient(to right, $quaternary,$love , .2);
    }
  }
}

.progress-back-container {
  width: 125px;
  .btn.progress-back {
    border-radius: 0px;
    background-color: $primary-low-mid;
    border: none;
  }

}